body {
    background-color: #0F1E36;
        .container {
        max-width: 1152px;
        margin: 0 auto;
        max-block-size: 10%;
        font-family:'Source Sans Pro', sans-serif;
        color: #76CCFB;
        -moz-user-select: none; 
        -webkit-user-select: none; 
        -ms-user-select: none; 
        user-select: none;
        .button {font-size: 20px;}
        .homepage {
            display: flex;
            justify-content: center;
            .homepageUp {
                margin-bottom: 70px;
                %SliderViewport {
                    z-index: 1;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    height: 271.406px;;
                }
                %SliderUl {
                    margin: 0;
                    padding: 0;
                    width: 3215%;
                    transition-duration: 0.5s;
                    display: flex;
                    align-items: center;
                }
                .sliderUp {
                    max-height: 282px;
                    overflow: visible;
                    width: 887px;
                    .wrapper {
                        .viewport {
                            display: flex;
                            @extend %SliderViewport;
                            ul {@extend %SliderUl;}
                            ul li img {width: 100%;}
                            img {pointer-events: none;}
                            a {
                                display: flex;
                                height: 50px;
                                align-items: center;
                            }
                        }
                        .ButtonControls {
                            display: flex;
                            justify-content: space-between;
                            position: relative;
                            bottom: 171px;
                            .button {z-index: 99;}
                        }
                    }
                }
                .CenterButtons {
                    margin-top:20px;
                    display: flex;
                    width: 887px;
                    position: relative;
                    justify-content: space-between;
                    height: 71px;
                    align-items: center;
                    background: #0F1E36;
                    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
                    .buttons {
                        display: flex;
                        width: 90%;
                        height: 100%;
                        background: #0F1E36;
                        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
                        align-items: center;
                        justify-content: center;
                    }
                }
                .sliderDown {
                    width: 886px;
                    max-height: 134.44px;
                    margin-top: 28.56px;
                    .wrapper {
                        max-height: 134.44px;
                        .viewport {
                            max-height: 134.44px;
                            display: flex;
                            @extend %SliderViewport;
                            ul {@extend %SliderUl;}
                            ul li img {
                                width: 108px;
                                pointer-events: none;
                            }
                            li {
                                width: 108px;
                                .buttomSliderDown {
                                    display: flex;
                                    height: 22px;
                                    align-items: center;
                                    .nameArtists {
                                        height: 26px;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                li {
                        list-style: none;
                        width: 267.664px;
                        margin-right: 42px;
                }
            }
        }
    }
}

@media (max-width: 890px) {
    .sliderUp {
        max-width: 414px;
        height: 179px;
        .viewport {
            max-height: 179px;
        }
        ul {height: 161px;}
        li {max-width: 188px;}
        img {
            height: 161px;
            max-width: 188px;
        }
    }
    .button {display: none;}
    .homepageUp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .CenterButtons {
        max-width: 414px;
        max-height: 29px;
        font-size: 12px;
    }
    .sliderDown {
        max-width: 414px;
        li {max-width: 88px;}
    }
    .buttomSliderDown {
        img {
            max-height: 88px;
        }
    }
    .buttomSliderDown {
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 891px) {
    .CenterButtons {
        font-size: 20px;
    }
    .buttomSliderDown {
        img {
            height: 97px;
            max-height: 134.44px;
        }
    }
    .nameTrack, .nameArtists {display: none;}
}
